<html>
	
	<head>
		<style>
			body{
				background-color: lightblue;
				<img alt = "Phone" src = "https://media.giphy.com/media/3oriO7wa3S0vXoNJks/giphy.gif" width="500" height="500">
			}

			h1 {
    			text-align: center;
				}

			h2 {
    			text-align: left;
			}

			h3 {
    			text-align: right;
    		}

		</style>
	</head>


</html>
